<div class="container">
  <h2 id="conductors">Conductors</h2>
  <div class="row">
    <div class="col-md-6">
      <h2>Craig Lawton</h2>
      <img class="conductor-pic" src="media/craig.jpg"/>
      <p>Craig Lawton is a lively and enthusiastic conductor working in the South of England. He currently holds positions with the Winchester Chamber Orchestra, Conchord Singers, Charity Symphony Orchestra and Christ Church Freemantle.</p>
      <p>June 2013 saw Craig make his professional debut in Europe, conducting the Ostfold Symphony Orchestra in Norway alongside friend and colleague Jon Fylling. In August, he returned to London with the Charity Symphony Orchestra to take part in the Merton Abbey Mills Festival.</p>
      <p>In conjunction with a busy conducting schedule, Craig has great enthusiasm for music projects, especially organising collaborative projects between ensembles and musicians that share his passion and ethos. A notable project that gained local and national media attention was the successful performance of all 104 Symphonies by Haydn in 2009. </p>
      <p>Craig has continued to develop his skills both technically and psychologically with Jason Lai in London, and most recently, in Berlin with Prof. Colin Metters from the Royal Academy of Music. He initially studied with Dr John Traill and later at the University of Southampton with Robin Browning. Craig was the first and only person to hold the City of Southampton Orchestra’s Assistant Conductor Scheme, and whilst studying for a degree in music, was Assistant Conductor to the University of Southampton Symphony Orchestra and Sinfonietta.</p>
      <p>Outside the UK, Craig has enjoyed podium time in concert venues in France, Berlin and Bulgaria. His most interesting concert to date was performed with the Charity Symphony Orchestra deep inside a cave in Cornwall!</p>
      <p>Off the podium, Craig enjoys playing percussion with local orchestras. When not rehearsing or performing, you can often find Craig in the Waterloo Arms enjoying a good pint of real ale with friends.</p>
    </div>
    <div class="col-md-6">
      <h2>Tom Horn</h2>
      <img class="conductor-pic" src="media/tom.jpg"/>
      <p>Tom started playing the violin at the age of four. He played with many youth and amateur orchestras in Kent, Guernsey and London, however it was leading the London Schools Symphony Orchestra under such conductors as Thomas Sanderling, Nicholas Kraemer, and Lief Segerstam that he decided to take the art of conducting more seriously. Studying Music with Acoustics at Southampton University he took every opportunity to gain experience; becoming Leader and Assistant Conductor of both the Symphony Orchestra and the Sinfonietta and setting up his own Concerto Orchestra to conduct. He has studied under some superb tutors, namely Peter Stark, Richard Dickens, Peter Ash, Robin Browning and recently participated in a masterclass with Philip Ellis on Beethoven 5th Symphony.<p>
      <p> He became the conductor of the Aylesbury Youth Orchestra in 2008 and has performed regularly at the 'Music For Youth' finals in Birmingham Symphony Hall. Holding the position of Leader and Assistant conductor of the Haslemere Music Society, he has had the opportunity to perform and conduct many major symphonic &amp; operatic works. In 2006 he founded the Charity Symphony Orchestra which has raised over £30,000 for various charities. Tom also enjoys working with the Buckinghamshire County Youth Orchestra as a tutor. Other recent engagements have included conducting the St. Albans Symphony Orchestra, Welwyn Garden City Symphony &amp; Chorus, Buckingham Chamber Orchestra, Sidcup Symphony Orchestra, Bridgenorth Symphonia, London Rehearsal Orchestra, Woking Chamber Orchestra, Didcot &amp; Wallingford Symphony Orchestra and the Trinity Camerata. In September 2013, Tom started working as a Guest Conductor with the Surrey County Youth Orchestra and had the opportunity to have a workshop with Freddie Kempf and the Royal Philharmonic Orchestra and has been invited back. He has also recently set up a new Orchestra in his hometown of Marlow which is growing in strength and started working towards a Royal Albert Hall concert with the High Wycombe Youth Orchestra in April.</p>
      <p>In December 2013 he had his first conducting competition experience competing in the Cadaques International Conducting Competetion and over the Summer he studied with Rodolfo Saglimbeni, Denise Ham and Toby Purser on this years George Hurst Conductors' Course at the Sherborne (formerly Canford) Summer Music School. He is also really looking forward to working with the Pelly Concert Orchestra as a guest conductor in the new year.</p>
    </div>
    <div class="col-md-6">
      <h2>Paul Ingram</h2>
      <img class="conductor-pic" src="media/paul.jpg"/>
      <p>Paul Ingram studied at the Universities of Southampton and Leicester, reading Music and Management respectively.</p>
      <p>He began conducting in 1995, working with the Southampton University Symphony, Pre-Term and Chamber Orchestras.</p>
      <p>In 1997, Paul founded the Southampton University Sinfonietta and remained Music Director until 2004.</p>
      <p>Paul has also worked with Essex Youth Orchestra, Young Sinfonia, Stoneleigh Youth Orchestra, COMA South, Showstoppers and the City of Southampton Orchestra. In 1999, he reached the final of the British Reserve Insurance Conducting Competition.</p>
      <p>Paul currently conducts the Southampton Concert Orchestra and the chamber ensemble, Per Piacere.</p>
    </div>
    <div class="col-md-6">
      <h2>Dominic Harries</h2>
      <img class="conductor-pic" src="media/dom.jpg"/>
      <p>Dominic Harries began conducting whilst studying Computer Science at the University of Southampton.  He has been assistant conductor of the Wind Band, Sinfonietta and Symphony Orchestra, and is currently conductor of the University String Orchestra and Principal Guest Conductor of the Charity Symphony Orchestra.</p>
      <p>In these posts, Dominic has been privileged to work with some outstanding soloists including renowned pianist David Owen Norris in a performance of his own piano concerto.</p>
      <p>Dominic has conducted in Prague at the Dvorak Hall, home of the Czech Philharmonic Orchestra.  He subsequently conducted a successful week-long orchestral course for freshers new to the University of Southampton, which included a memorable performance of Berlioz's Symphonie Fantastique.</p>
      <p>Also a keen horn player and violinist, Dominic runs Hornography, an ensemble made up of horn players from Southampton and the surrounding area.  He has recently taken up the accordion, which he has played with the Bournemouth Symphony Orchestra.</p>

    </div>
  </div>
</div>