<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h3>Schedule</h3>
      <p>Saturday 21st March 2015</p>
      <h4>Main Hall</h4>
      <table class="schedule">
        <tr>
          <td class="time">11:00</td>
          <td class="prog">
            <p>Symphony No 1 in C, Op 21<br>
              Symphony No 2 in D, Op 36<br>
              Symphony No 3 in E flat, Op 55 <em>Eroica</em></p>
            <p><a target="_new" href="http://www.turnersims.co.uk/events/beethovathon-part-i/">Book tickets</a></p>
          </td>
        </tr><tr>
          <td class="time">13:30</td>
          <td class="prog">
            <p>Symphony No 4 in B flat, Op 60<br>
              Symphony No 5 in C minor, Op 67</p>
            <p><a target="_new" href="http://www.turnersims.co.uk/events/beethovathon-part-ii/">Book tickets</a></p>
          </td>
        </tr><tr>
          <td class="time">15:13</td>
          <td class="prog">
            <p>Symphony No 6 in F, Op 68 <em>Pastoral</em><br>
              Symphony No 7 in A, Op 92</p>
            <p><a target="_new" href="http://www.turnersims.co.uk/events/beethovathon-part-iii/">Book tickets</a></p>
          </td>
        </tr><tr>
          <td class="time">19:30</td>
          <td class="prog">
            <p>Symphony No 8 in F, Op 93<br>
              Symphony No 9 in D minor, Op 125 <em>Choral</em></p>
            <p><a target="_new" href="http://www.turnersims.co.uk/events/beethovathon-part-iv/">Book tickets</a></p>
          </td>
        </tr>
      </table>
      <h4>Foyer</h4>
      <p>Throughout the day, postgraduate music students from the university will perform a selection of Beethoven Piano Sonatas.</p>
    </div>

    <div class="col-sm-6">
      <h3>Tickets</h3>

      <ul>
        <li>£10 full price</li>
        <li>£7.50 students over 18 in full time education</li>
        <li>£1 Under 18s</li>
      </ul>

      <div class="container">
        <div class="row">
          <div class="col-sm-3">Buy a full price ticket for all 4 concerts and pay £30<br>(4 concerts for the price of 3)</div>
          <div class="col-sm-3">Buy a student ticket for all 4 concerts and pay £22.50<br>(4 concerts for the price of 3)</div>
        </div>
      </div>

      <h3>Venue</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d40229.50569037298!2d-1.3987969999999998!3d50.93584900000003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487473f656eb7afd%3A0xdccca6676cfacca!2sTurner+Sims+Concert+Hall!5e0!3m2!1sen!2suk!4v1415484772864" width="100%" height="300" frameborder="0" style="border:0"></iframe>
    </div>
  </div>
</div>
