<div class="cover">
  <a href="#" onclick="honk()" class="nose"><img src="media/rednose.png" alt="Red nose"/></a>
  <h1>Coming soon to Southampton...</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2>The Haydathon</h2>
      <p>In 2009 we succesfully performed </a>all 104 of Haydn's symphonies over one weekend.</p>
      <p>We featured on BBC Radio 3 and local television, raising over £1000 for Comic Relief.</p>
      <p><strong>Now it's Beethoven's turn.</strong></p>
    </div>
    <div class="col-sm-4">
      <h2>21st March 2015<br>Nine symphonies<br>One day</h2>
      <p>A hand-picked orchestra will perform all of Beethoven's symphonies in one day.</p>
      <p style="font-size: 150%"><a href="event">Learn more</a></p>
    </div>
    <div class="col-sm-4">
      <h2>Supporting Comic Relief</h2>
      <div class="row">
        <div class="col-sm-6">
          <p>The event will run in tandem with Red Nose Day 2015 and will be raising money for Comic Relief.</p>
        </div>
        <div class="col-sm-6">
          <a href="http://www.comicrelief.com/" target="_blank">
            <img src="media/comic_relief_logo.png" alt="Comic Relief" style="width:100%; max-width:138px"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>